<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/waseysaeed/Downloads/Selenium_With_Java">
        <classes>
            <class name="testCases.SignUp">
                <methods>
                    <include name="Register_User"/>
                </methods>
            </class>

            <class name="testCases.Login">
                <methods>
                    <include name="Login_with_invalid_data"/>
                    <include name="Login_with_valid_data"/>
                </methods>
            </class>

            <class name="testCases.ContactDetails">
                <methods>
                    <include name="validate_info_for_estonia"/>
                    <include name="validate_info_for_poland"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>